<table>
<tr>
  <th>Name</th>
  <th>Soup Base</th>
</tr>
<% @ramen_types.each do |ramen_type| %>
<tr>
  <td><%= ramen_type.name %></td>
  <td><%= ramen_type.soup_base %></td>
  <td><%= ramen_type.flavor %></td>
  <td><%= ramen_type.broth_color %></td>
  <td><%= ramen_type.other_ingredients %></td>
<% end %>
</table>